:root {
  --text-grey: #595e64;
  --heading-grey: #3b3e43;
  --btn-auth-text: #15afa2;
  --btn-pro: #058592;
  --btn-basic: #05ada6;
  --btn-premium: #192222;
  --btn-contribution: #5ab690;
  --footer-bg: #0d0d0d;
  --white: #fff;
}
